ClienteConsumidor/UI.Cliente/Connected Services/ServiceReference/WSCuil.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ValidarCuil">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DNI" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="DigitoVerificador" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarCuilResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidarCuilResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidarCuilSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarCuil" />
  </wsdl:message>
  <wsdl:message name="ValidarCuilSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarCuilResponse" />
  </wsdl:message>
  <wsdl:portType name="WSCuilSoap">
    <wsdl:operation name="ValidarCuil">
      <wsdl:input message="tns:ValidarCuilSoapIn" />
      <wsdl:output message="tns:ValidarCuilSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSCuilSoap" type="tns:WSCuilSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarCuil">
      <soap:operation soapAction="http://tempuri.org/ValidarCuil" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSCuilSoap12" type="tns:WSCuilSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarCuil">
      <soap12:operation soapAction="http://tempuri.org/ValidarCuil" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSCuil">
    <wsdl:port name="WSCuilSoap" binding="tns:WSCuilSoap">
      <soap:address location="https://localhost:44353/WSCuil.asmx" />
    </wsdl:port>
    <wsdl:port name="WSCuilSoap12" binding="tns:WSCuilSoap12">
      <soap12:address location="https://localhost:44353/WSCuil.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>